.advantages {
    background-color: $black;
    
    &__title {
        padding-top: 140px;
        margin-bottom: 140px;
        
        @media (max-width: 991.98px) {
            text-align: center;
            padding-top: 80px;
            margin-bottom: 80px;
        }

        @media (max-width: 565.98px) {
            padding-top: 50px;
            margin-bottom: 50px;
            font-size: 40px;
        }
    }
    
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 142px;

        @media (max-width: 991.98px) {
            margin-bottom: 70px;
        }

    }
    &__block {
        display: flex;
        flex-direction: column;
        max-width: 190px;

        @media (max-width: 991.98px) {
            max-width: 100%;
        }

        @media (max-width: 565.98px) {
            max-width: 190px;
        }
    }

    &__text {
        color: #FF0000;
        font-size: 25px;
        font-weight: bold;

        @media (max-width: 565.98px) {
            font-size: 18px;
        }
    }
    
    &__subtext {
        @media (max-width: 565.98px) {
            font-size: 13px;
        }
    }

    svg {
        padding-right: 26px;

        @media (max-width: 565.98px) {
            padding-right: 15px;
        }
    }
}